/* Button font */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

/* Typing text font */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");

body {
  height: 100vh;
  background: rgb(23, 134, 127);
  background: radial-gradient(
    circle,
    rgba(23, 134, 127, 1) 0%,
    rgba(18, 52, 59, 1) 100%
  );
}

/* #input-space {
  display: none;
} */

#stats {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  font-size: 1em;
  font-family: monospace, sans-serif;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  font-family: monospace, sans-serif;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #dddddd;
  border-radius: 15px;
  padding: 15px 25px;
  box-shadow: 0 0px 3.6px -13px rgba(0, 0, 0, 1),
    0 0px 29px -13px rgba(0, 0, 0, 0.5);
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  border: none;
  outline: none;
  font-family: monospace, sans-serif;
  font-size: 3em;
  transition: 0.1s;
  border-radius: 7px;
  color: #ffffff;
  opacity: 0.8;
  background: rgb(23, 134, 127);
  text-align: center;
  box-shadow: 0 0px 3.6px -13px rgba(0, 0, 0, 1),
    0 0px 29px -13px rgba(0, 0, 0, 0.5);
}

.button:hover {
  font-size: 4em;
}

.hide {
  display: none;
}

.done {
  color: #ffffff;
  opacity: 0.2;
  transition: 0.1s;
}

.wrong {
  color: #e23e57;
  transition: 0.1s;
}

.cursor {
  background-color: rgba(177, 177, 177, 0.555);
  transition: 0.1s;
  border-radius: 3px;
  padding: auto 1px;
}
